<div class="container">
    <div class="row">
        <div class="col-6 mt-4">
            <h1 class="ml-auto">Pie Chart (Graph)</h1>

            <form [formGroup]="inputForm" (ngSubmit)="onSubmit()">
                <div class="d-flex mt-3">
                    <input type="number" placeholder="input-1" max="100" formControlName="inputOne"
                        class="form-control">
                    <span *ngIf="inputForm.get('inputOne')?.invalid && inputForm.get('inputOne')?.touched">
                        Please Enter a value below 100...
                    </span>

                    <input type="number" placeholder="input-2" formControlName="inputTwo" class="form-control ml-2">
                </div>
               <div class="text-center">
                <input type="submit" class="btn btn-sm btn-danger mt-3 ml-3">
                <input type="button" value="Clear" class="btn btn-sm btn-danger mt-3 ml-2" (click)="onClickClear()">
               </div>
            </form>
        </div>
    </div>
</div>

<div class="col-12">
    <div class="chart-container">
        <canvas id="myPieChart" #myChartCanvas></canvas>
    </div>
</div>